/* Custom Styles for overriding Bootstrap colors */

/* Header Custom Colors */
header {
    background-color: #0aa822 !important;
    /* Indigo */
    color: #FFD700 !important;
    /* Gold */
}

.bg-primary {
    background-color: #0aa822 !important;
}

.text-white {
    color:#FFD700 !important;
}

/* Footer Custom Colors */
footer {
    background-color: #2E8B57 !important;
    /* SeaGreen */
    color: #FFFFFF !important;
    /* White */
}

/* Button Custom Colors */
.btn-primary {
    background-color: #00c8ff !important;
    /* OrangeRed */
    border-color: #00c8ff !important;
}

.btn-secondary {
    background-color: #989806 !important;
    /* SlateBlue */
    border-color: #989806 !important;
}

.btn-danger {
    background-color: #DC143C !important;
    /* Crimson */
    border-color: #DC143C !important;
}

.btn-success {
    background-color: #32CD32 !important;
    /* LimeGreen */
    border-color: #32CD32 !important;
}

.text-dark {
    color: rgb(253, 253, 253) !important;
    /* Black */
}
